.btn {
    font-size: 1.2rem;
    font-weight: 700;;
    line-height: 34px;
    border-radius: 4px;
    box-shadow: none;
    transition: all ease-in-out .2s;

    &:hover {
        box-shadow: none;
    }

    &:focus {
        box-shadow: 0px 0px 0px 2px;
    }

    + .btn {
        margin-left: 1rem;
    }

    .material-icons {
        float: left;
        margin-right: 5px;
        font-size: 2rem;
    }

    &.btn-primary {
        color: @color-primary;
        background-color: lighten(@color-primary, 40%);
        
        &.active,
        &:hover {
            color: @color-lighter;
            background-color: @color-primary;
        }

        &.active {
            &:hover {
                background-color: lighten(@color-primary, 5%);
            }
            
            &:focus {
                box-shadow: 0px 0px 0px 3px fade(@color-primary, 50%);
            }
        }
    }

    &.btn-success {
        color: @color-success;
        background-color: lighten(@color-success, 45%);

        &.active,
        &:hover {
            color: @color-lighter;
            background-color: @color-success;
        }

        &.active {
            &:hover {
                background-color: lighten(@color-success, 5%);
            }
            
            &:focus {
                box-shadow: 0px 0px 0px 3px fade(@color-success, 50%);
            }
        }
    }

    &.btn-info {
        color: @color-info;
        background-color: lighten(@color-info, 35%);

        &.active,
        &:hover {
            color: @color-lighter;
            background-color: @color-info;
        }

        &.active {
            &:hover {
                background-color: lighten(@color-info, 5%);
            }
            
            &:focus {
                box-shadow: 0px 0px 0px 3px fade(@color-info, 50%);
            }
        }
    }

    &.btn-danger {
        color: @color-danger;
        background-color: lighten(@color-danger, 40%);

        &.active,
        &:hover {
            color: @color-lighter;
            background-color: @color-danger;
        }

        &.active {
            &:hover {
                background-color: lighten(@color-danger, 5%);
            }
            
            &:focus {
                box-shadow: 0px 0px 0px 3px fade(@color-danger, 50%);
            }
        }
    }

    &.btn-warning {
        color: @color-warning;
        background-color: lighten(@color-warning, 40%);

        &.active,
        &:hover {
            color: @color-lighter;
            background-color: @color-warning;
        }

        &.active {
            &:hover {
                background-color: lighten(@color-warning, 5%);
            }
            
            &:focus {
                box-shadow: 0px 0px 0px 3px fade(@color-warning, 50%);
            }
        }
    }

    &.btn-lg {
        font-size: 1.8rem;
    }

    &.disabled {
        color: darken(@color-light, 40%);
        background-color: @color-light;
    }
}