<header>
    <div class="navbar-fixed">
        <nav class="row">
            <div class="nav-wrapper">
                <div class="container">
                    <a href="#" class="brand-logo">Logo</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li ng-repeat="item in navLinks">
                            <a href="{{ item.link }}" title="{{ item.name }}">
                                {{ item.name }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="page-title">
        <div class="container">
            <h1 class="title">{{ $ctrl.title }}</h1>
            <h4 class="description">{{ $ctrl.description }}</h4>
        </div>
    </div>
</header>
