html,
body {
  height: 100%;
  min-height: 100%;
  background-color: #FFFFFF;
  font-size: 62.5%;
}
body {
  color: #303030;
  font-size: 1.4rem;
}
a {
  color: #2ca6ff;
  transition: color ease-in-out 0.2s;
}
a:hover {
  color: #0072c5;
}
a:focus {
  text-decoration: underline;
}
img {
  max-width: 100%;
}
.page-wrapper {
  width: 100%;
  float: left;
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
}
label {
  color: #303030;
  font-size: 1.4rem;
  font-weight: 500;
  display: block;
  margin-bottom: 1rem;
}
textarea {
  height: inherit;
}
.forms-field + .forms-field {
  margin-top: 2rem;
}
.forms-field .forms-input {
  display: block;
  width: 100%;
}
.forms-input {
  display: inline-block;
  padding: 7px 12px;
  min-height: 36px;
  border-radius: 4px;
  border: 1px solid #CCCCCC;
}
.forms-input:focus {
  outline: none;
  border-color: #0093ff;
}
.m-auto {
  margin: auto;
}
.mt-auto {
  margin-top: auto;
}
.mb-auto {
  margin-bottom: auto;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.m-0 {
  margin: 0;
}
.mt-0,
.celebrity-details .info .title {
  margin-top: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.ml-0 {
  margin-left: 0;
}
.mr-0 {
  margin-right: 0;
}
.m-1 {
  margin: 1rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.ml-1 {
  margin-left: 1rem;
}
.mr-1 {
  margin-right: 1rem;
}
.m-2 {
  margin: 2rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.ml-2 {
  margin-left: 2rem;
}
.mr-2 {
  margin-right: 2rem;
}
.m-3 {
  margin: 3rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mb-3,
.page-title .title,
.celebrity-details .info .title {
  margin-bottom: 3rem;
}
.ml-3 {
  margin-left: 3rem;
}
.mr-3 {
  margin-right: 3rem;
}
.m-4 {
  margin: 4rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.ml-4 {
  margin-left: 4rem;
}
.mr-4 {
  margin-right: 4rem;
}
.m-5 {
  margin: 5rem;
}
.mt-5 {
  margin-top: 5rem;
}
.mb-5,
.page-title,
.page-title .description {
  margin-bottom: 5rem;
}
.ml-5 {
  margin-left: 5rem;
}
.mr-5 {
  margin-right: 5rem;
}
.p-0 {
  padding: 0;
}
.pt-0 {
  padding-top: 0;
}
.pb-0 {
  padding-bottom: 0;
}
.pl-0 {
  padding-left: 0;
}
.pr-0 {
  padding-right: 0;
}
.p-1 {
  padding: 1rem;
}
.pt-1 {
  padding-top: 1rem;
}
.pb-1 {
  padding-bottom: 1rem;
}
.pl-1 {
  padding-left: 1rem;
}
.pr-1 {
  padding-right: 1rem;
}
.p-2 {
  padding: 2rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pb-2 {
  padding-bottom: 2rem;
}
.pl-2 {
  padding-left: 2rem;
}
.pr-2 {
  padding-right: 2rem;
}
.p-3 {
  padding: 3rem;
}
.pt-3 {
  padding-top: 3rem;
}
.pb-3 {
  padding-bottom: 3rem;
}
.pl-3 {
  padding-left: 3rem;
}
.pr-3 {
  padding-right: 3rem;
}
.p-4 {
  padding: 4rem;
}
.pt-4 {
  padding-top: 4rem;
}
.pb-4 {
  padding-bottom: 4rem;
}
.pl-4 {
  padding-left: 4rem;
}
.pr-4 {
  padding-right: 4rem;
}
.p-5 {
  padding: 5rem;
}
.pt-5,
.page-content,
.page-title {
  padding-top: 5rem;
}
.pb-5,
.page-content,
.page-title {
  padding-bottom: 5rem;
}
.pl-5 {
  padding-left: 5rem;
}
.pr-5 {
  padding-right: 5rem;
}
.fs-1 {
  font-size: 1rem;
}
.fs-2,
.celebrity-details .info .description {
  font-size: 2rem;
}
.fs-3 {
  font-size: 3rem;
}
.fs-4,
.celebrity-details .info .title {
  font-size: 4rem;
}
.fs-5 {
  font-size: 5rem;
}
.thumb {
  border-radius: 4px;
  border: 1px solid #CCCCCC;
}
.btn {
  font-size: 1.2rem;
  border-radius: 4px;
  box-shadow: none;
  line-height: 34px;
  transition: all ease-in-out 0.2s;
}
.btn:hover {
  box-shadow: none;
}
.btn + .btn {
  margin-left: 1rem;
}
.btn.btn-primary {
  color: #0093ff;
  background-color: #cce9ff;
}
.btn.btn-primary:hover {
  color: #FFFFFF;
  background-color: #0093ff;
}
.btn.btn-success {
  color: #16d780;
  background-color: #d8fbeb;
}
.btn.btn-success:hover {
  color: #FFFFFF;
  background-color: #16d780;
}
.btn.btn-info {
  color: #2ca6ff;
  background-color: #dff1ff;
}
.btn.btn-info:hover {
  color: #FFFFFF;
  background-color: #2ca6ff;
}
.btn.btn-danger {
  color: #e92551;
  background-color: #fcdee5;
}
.btn.btn-danger:hover {
  color: #FFFFFF;
  background-color: #e92551;
}
.btn.btn-warning {
  color: #ffd000;
  background-color: #fff6cc;
}
.btn.btn-warning:hover {
  color: #FFFFFF;
  background-color: #ffd000;
}
.card {
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid #ccc;
}
.card.card-hover {
  transition: transform ease-in-out 0.2s;
}
.card.card-hover:hover {
  transform: translateY(-3px);
}
.card .card-image {
  height: 300px;
}
.card .card-image > a {
  display: block;
  width: 100%;
  height: 100%;
}
.card .card-image > a:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 1;
  transition: background ease-in-out 0.3s;
}
.card .card-image > a:hover:before {
  background-color: rgba(0, 0, 0, 0);
}
.card .card-image img {
  height: 100%;
  object-fit: cover;
}
.card .card-image .card-title {
  font-weight: 400;
  text-shadow: 0px 0px 5px #000000;
  z-index: 2;
}
.card .card-content {
  height: 110px;
}
.card .card-content p.line-clamp {
  overflow-y: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.card .card-action {
  text-align: right;
}
.card .card-action a {
  font-weight: 500;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #2ca6ff;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
  color: #0072c5;
}
.messages .item {
  font-weight: 500;
  border: 1px solid;
  display: block;
  padding: 7px 12px;
  border-radius: 4px;
}
.messages .item + .item {
  margin-top: 1rem;
}
.messages.error .item {
  color: #e92551;
  border-color: #e92551;
  background-color: #fcdee5;
}
.messages.success .item {
  color: #16d780;
  border-color: #16d780;
  background-color: #ffffff;
}
nav {
  background-color: #151515;
  box-shadow: none;
  border-bottom: 1px solid #0093ff;
}
nav ul a {
  color: #FFFFFF;
  font-size: 1.6rem;
}
nav ul a:focus,
nav ul a:hover {
  color: #FFFFFF;
  background-color: #2f2f2f;
}
nav ul a:focus {
  text-decoration: none;
}
.page-title {
  float: left;
  width: 100%;
  background: #eee;
  box-shadow: inset 0 -2px 2px -1px rgba(0, 0, 0, 0.3);
}
.page-title .title {
  color: #0093ff;
  font-size: 6rem;
}
.page-title .description {
  color: #333;
}
.celebrity-details .info .title {
  color: #e92551;
}
