<div class="container">
    <h1>Add Celebrity:</h1>

    <div class="row">
        <form class="col s12 m6">
            <div class="row">
                <div class="forms-field col s12">
                    <label for="name">Name</label>
                    <input id="name" ng-model="celebrity.name" type="text" class="forms-input browser-default">
                </div>
                <div class="forms-field col s12">
                    <label for="description">Description</label>
                    <textarea id="description" ng-model="celebrity.description" type="text" class="forms-input browser-default"></textarea>
                </div>

                <div class="forms-field col s12">
                    <label for="image">Paste an image path:</label>
                    <input id="image" type="text"  ng-model="celebrity.image" class="forms-input browser-default" >
                </div>

                <div class="forms-field col s12">
                    <a href="javascript:;" ng-click="add()" class="btn btn-success">Save</a>
                </div>
            </div>
        </form>
    </div>
</div>
