<div class="container page-content">
    <div class="row celebrity-details">
        <div class="col m8 info">
            <h2 class="title">{{ celebrity.name }}</h2>
            <p class="description">{{ celebrity.description }}</p>
        </div>
        <div class="col m4 gallery">
            <img class="thumb" src="{{ celebrity.image }}" alt="">
            <div>
                <a class="btn btn-success" href="celebrity/{{ celebrityUrlName }}/{{ celebrityId }}/edit">Edit</a>
            </div>
        </div>
    </div>
</div>